/*font*/
$font: 'Ubuntu', sans-serif;

/*color*/
/* $color_one: #050F15;
$color_two: #1A4C6D;
$color_three: #3498DB;
$color_four: #85C1E9;
$color_five: #C2E0F4;

$color_six : #7CEECE; */

/*color bGenius*/
$color_one: #050F15;
$color_two: #DE3C3C;
$color_three: #ED4E4E;
$color_four: #FF6666;
$color_five: #FF9999;

$color_six : #FFCCCC;

$redbGenius : #cc0000;
$redbGenius_two : #F0C2C2;
$redbGenius_three : #EBE1E2;

