@import 'var';
@import 'button';
@import 'hamburger';

*,
*:after,
*::before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #D2D7D3!important;
  margin-top: 80px!important;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  .container {
    height: 80px;
    background-color: $color_three;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 2px 4px rgba(44,62,80,0.15);
    .content {
      margin: 14px;
      position: relative;
      .form-control {
        height: 50px;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        background-color: $color_four;
        border: 1px solid $color_four;
        color: black;
        font-family: $font;
        font-size: 16px;
        font-weight: 400;
        padding-right: 60px;
        color: white;
      }
      .form-control::-webkit-input-placeholder  {
        color: white;
        font-family: $font;
        font-size: 16px;
        font-weight: 400;
      }
      .btn {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: absolute;
        right: -1px;
        top: 0px;
        background-color: white;
        outline: none;
        box-shadow: 0px 2px 4px rgba(44,62,80,0.15);
        .fa-plus {
          color: $color_three;
          font-size: 18px;
          transition: color ease-in-out .20s;
        }
      }
      .btn:focus {
        border: none;
        outline: none;
      }
      .btn-outline-primary:hover > .fa-plus, .btn-outline-primary:focus > .fa-plus, 
      .btn-outline-primary:visited > .fa-plus,.btn-outline-primary:active > .fa-plus {
        color: $color_four;
      }
    }
  }
}

.list {
  .container {
    padding-top: 17px;
    .row {
      background-color: white;
      border-radius: 4px;
      box-shadow: 0px 2px 4px rgba(44,62,80,0.15);
      .content {
        min-height: 50px;
        position: relative;
        .items {
          list-style-type: none;
          padding: 15px 15px;
          margin-bottom: 0px;
          .item {
            display: inline-block;
            p {
              margin: 0 0 0px;
              font-size: 14px;
              font-weight: 500;
              font-family: $font;
              color: $color_one;
            }
          }
          .check::before {
            content: "";
            display: block;
            width: 1px;
            height: 30px;
            background-color: #D2D7D3;
            position: absolute;
            right: 40px;
            bottom: 4px;
          }
          .delete {
            position: absolute;
            right: 60px;
            a {
              display: block;
              height: 100%;
              width: 22px;
              position: relative;
              bottom: 5px;
              .fa {
                color: #D2D7D3;
                transition: color ease-in-out .20s;
              }
            }
            a:hover > .fa, a:focus > .fa, a:active > .fa {
              color: #D33257;
            }
          }
        }
      }
    }
  }
}

#todo {
  min-height: 70px;
  position: relative;
  .check {
    position: absolute;
    right: 0px;
    a {
      display: block;
      height: 100%;
      width: 22px;
      position: relative;
      bottom: 5px;
      .fa {
        color: $color_three;
        transition: color ease-in-out .20s;
      }
    }
    a:hover > .fa, a:focus > .fa, a:active > .fa {
      color: $color_six;
    }
  }
}


#todo:empty::before {
  content: "You have nothing to-do!";
  display: block;
  position: absolute;
  left: 50%;
  top: 45px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
  font-style: italic;
  font-family: $font;
  font-weight: 400;
}

#completed {
  min-height: 70px;
  margin-top: 45px;
  position: relative;
  .check {
    position: absolute;
    right: 0px;
    a {
      display: block;
      height: 100%;
      width: 22px;
      position: relative;
      bottom: 5px;
      .fa {
        color: $color_six;
        transition: color ease-in-out .20s;
      }
    }
    a:hover > .fa, a:focus > .fa, a:active > .fa {
      color: $color_three;
    }
  }
  .delete {
    position: absolute;
    right: 60px;
    a {
      display: block;
      height: 100%;
      width: 22px;
      position: relative;
      bottom: 5px;
      .fa {
        color: #D33257;
        transition: color ease-in-out .20s;
      }
    }
    a:hover > .fa, a:focus > .fa, a:active > .fa {
      color: #d332575c;
    }
  }
}

#completed::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  display: block;
  background-color: $color_three;
  top: -14px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 4px rgba(44,62,80,0.15);
} 

#completed:empty::after {
  content: "You have yet to complete any tasks..";
  display: block;
  position: absolute;
  left: 50%;
  top: 30px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
  font-style: italic;
  font-family: $font;
  font-weight: 400;
}
